:root{
    font-family: "Open Sans", sans-serif;
}

#page{
    box-sizing: border-box;
    width: 1280px;
    height: 3279px;
    padding:40px;
    background-color: #f5f4f0;
    justify-self: anchor-center;
    
}

#descriptiontittle{
    padding-left: 40px;
    
}

.headline{
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    margin-bottom: 0px;    
    padding-left: 40px;
}

h1{
    padding-left: 40px;
   font-size: 36px;
   font-weight: bold;
   margin-top: 0px;

}

#descriptiontittle p{
    text-align: center;
    padding-right: 40px;
    margin-top: 24px;
    font-style: italic;
}

p{
    width: 1120px;
    margin-top: 0px;
}

.divider {
  width: 1120px;
  height: 1px;
  margin: 36px auto;
  background-color: #d9d9d9;

}


h2{
   padding-left: 40px;
   font-size: 32px;
   font-weight: bold;
   margin-top: 0px;
   margin-bottom: 8px;
   
}

.topsct{
    padding-top: 28px;
}

p.middlesct{
    margin-bottom: 64px;
    padding-left: 40px;

}

p.middlesct2{
    margin-top: 0;
}

p.bomp1{
    padding-bottom: 48px;
    margin-bottom: 0px;
}

p.txtfinal{
    padding-left: 40px;
    text-align: center;
}
h3{
   padding-top:20px;
   padding-left: 40px;
   font-size: 28px;
   font-weight: bold;
   margin-top: 0px;
   padding-bottom: 4px;
   margin-bottom: 0px;

}

p.fakefooter{
    color:#1b1b1b;
    text-align: center;
    padding-top: 60px;
    
}